    {% load static %}
    <!-- ======= Header ======= -->
    <header id="header" class="header header-hide">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <h1><a href="{% url 'index' %}" class="scrollto">Yorking</a></h1>
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li 
              {% if '/' == request.path  %}
                class="menu-active"
              {% else %}
                class="menu"
              {% endif%}><a href="{% url 'index' %}">Home</a></li>
              <li 
              {% if 'rules' in request.path  %}
                class="menu-active"
              {% else %}
                class="menu"
              {% endif%}><a href="#rules">Rules</a></li>
              <li 
              {% if 'playerdashboard' in request.path  %}
                class="menu-active"
              {% else %}
                class="menu"
              {% endif%}><a href="{% url 'selectmatch' %}">Player Dashboard</a></li>
              <li 
              {% if 'leaderboard' in request.path  %}
                class="menu-active"
              {% else %}
                class="menu"
              {% endif%}><a href="{% url 'choosematch' %}">Leaderboard</a></li>
              <li 
              {% if 'createteam' in request.path  %}
                class="menu-active"
              {% else %}
                class="menu"
              {% endif%}><a href="{% url 'select_match'%}">Create Team</a></li>
              <li 
              {% if 'profile' in request.path  %}
                class="menu-active"
              {% else %}
                class="menu"
              {% endif%}><a href="{% url 'profile' %}">{{ request.user }}</a></li>
              <!-- <li><a href="#contact">Contact</a></li> -->
              <li>
              <span> <a href="{% url 'logout' %}">Logout</a></span>
              </li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- End Header -->