{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="container">
      <div class="section-title text-center">
          <!-- <h3 style="color: #000; font-weight: 600; font-family:"Times New Roman" ;">Click on the match details coloumn below to know your ranking in the previous matches.</h3> -->
          <h2 style="font-size:30px">Click on the match details coloumn below to know your ranking in the previous matches.</h2>
      </div>
      {% csrf_token %}
          {% if error %}
        <h3 style="color:red"> {{error_msg}}</h3>

      {% endif %}
    </div>  
  <form action="{% url 'leaderboardeval' %}" method="POST">
  <table class="table" style="text-align: center;">
    <!--Table head -->
    <thead>
      <tr>
        <th><h2>Match ID</h2></th>
        <th><h2>Country-1</h2></th>
        <th><h2>Country-2</h2></th>
        <th><h2>Details</h2></th>
      </tr>
    </thead>
    <!-- end of Table head -->

    <!--Table Body -->
    <tbody>
      
     
        {% for i in matches %}
        {% csrf_token %}
      <tr>
        
        
        <td><p style="font-size:14px;">{{ forloop.counter }}</p></td>
        <td><p style="font-size:14px;">{{ i.country1 }}</p></td>
        <td><p style="font-size:14px;">{{ i.country2 }}</p></td>
        
        <td><input type="radio" name="match" id="match" value="{{i.match_id}}"></td>
      </tr> 
      {% endfor %}
      <br>
      <br><br>
 
      
    </tbody>
  </table>
  <div class="container h-100">
        <div class="d-flex h-100"> 
         <div class="align-self-center mx-auto"> 
      <input type="submit" name="submit" class="btn btn-success">
    </div>
  </div>
</div>
   </form>
</div>
<br>
<br>
<a href="{% url 'select_match' %}"><h4 style="color: blue; text-align:center; text-transform: lowercase ">Click here to create your team for upcoming matches</h4></a>
<br>
<br>
<br>
   

{% endblock %}