{% extends 'base.html' %}


{% block content %}

<h1 class = 'lb'>I'm LeaderBoard</h1>
	<h2 class = 'lb' id ='vs'> </h2>
	<div class = '.container lb'>
		<table id = "tab2">
			<tr id="head">
				<th>UserId</th>
				<th>UserName</th>
				<th>Stars</th>
			</tr>
		</table>
	</div>
	<h1 class="ml">I'm MatchList</h1>
	<div class = '.container ml'>
		<table id = 'tab'>
			<tr>
				<th>MatchId</th>
				<th>Country1</th>
				<th>Country2</th>
			</tr>
			<tr id ="trow"></tr>
			<script type="text/javascript">
				var country1s = (("{{country1s |safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
            	return {
                	l   : '<',
                	g   : '>',
                	quo : '"'
            		}[b];
        		}));

				country1s = country1s.replace(/u'/g, '\'')
				country1s = country1s.replace(/'/g, '\"')

				country1s = JSON.parse( country1s );

				var country2s = (("{{country2s |safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
            	return {
                	l   : '<',
                	g   : '>',
                	quo : '"'
            		}[b];
        		}));

				country2s = country2s.replace(/u'/g, '\'')
				country2s = country2s.replace(/'/g, '\"')

				country2s = JSON.parse( country2s );

				var statuss = (("{{statuss |safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
            	return {
                	l   : '<',
                	g   : '>',
                	quo : '"'
            		}[b];
        		}));

				statuss = statuss.replace(/u'/g, '\'')
				statuss = statuss.replace(/'/g, '\"')

				statuss = JSON.parse( statuss );

				var l = match_ids.length;

				for(var i=0;i<l;i++)
				{
					var a = document.createElement('a');
						a.title = "LeaderBoard";
      				a.href = "#";
      				a.id = match_ids[i]
      				$(a).append(document.createTextNode("leaderboard"))
      				var t = document.createElement('tr');
      				var d1 = document.createElement('td');
      				var mid = document.createTextNode(match_ids[i]);
      				d1.appendChild(mid);
      				document.getElementById("tab").appendChild(t).appendChild(d1);
      				var d2 = document.createElement('td');
      				var c1 = document.createTextNode(country1s[i]);
      				d2.appendChild(c1);
      				document.getElementById("tab").appendChild(t).appendChild(d2);
      				var d3 = document.createElement('td');
      				var c2 = document.createTextNode(country2s[i]);
      				d3.appendChild(c2);
      				document.getElementById("tab").appendChild(t).appendChild(d3);
      				var d4 = document.createElement('td');
      				var st = document.createTextNode(statuss[i]);
      				d4.appendChild(st);
      				document.getElementById("tab").appendChild(t).appendChild(d4);
      				var d5 = document.createElement('td');
      				document.getElementById("tab").appendChild(t).appendChild(d5).appendChild(a);

					$(a).click(function(){
						$(".ml").fadeOut(0);
						$("#head").fadeOut(0);
						var i = $(this).attr('id');
						$.ajax({
							url:'',
							type:'get',
							data:{
								id : i
							},
							success: function(response){
									if(response.statuss[0]!=='current'){
									$(".lb").fadeIn(0);	
									$("#vs").text(response.country1s[0]+' Vs '+
										response.country2s[0])
									$("#head").fadeIn(0);
									for(var i=0;i<response.userTeamList[0].length;i++)
									{
										$("#tab2").append('<tr><td>'+response.userTeamList[0][i]+'</td><td>'
															+response.userTeamList[1][i]+'</td><td>'
															+response.userTeamList[2][i]+'</td></tr>')
									}
								}
									else
									{
										$("#vs").fadeIn(0)
										$("#vs").text("Match is running currently! Try again later")
									}
							}
						});
					});
				}
			</script>
			<!--{% for m in match_ids %}
			<tr>
				<td>{{m}}</td>
				<td>{{m.country1}}</td>
				<td>{{m.country2}}</td>
				<td>{{m.status}}</td>
				<td><a href="#">Leader Board</a></td>
			</tr>
			{% endfor %}-->
		</table>
    </div>
    

    {% endblock %}