{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="row">
	<div class="col-12">
		<h1 style="text-align: center; color: green; font-size:40px;">Congrats!
            you have successfully created your team.
		</h1>
	</div>
</div>
<br>
<br>
<div style="text-align: center; color:brown; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h4>Check the <a href="{% url 'choosematch' %}">leaderboard</a> for current rankings!</h4>
</div>
<div style="text-align: center; color:brown; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h4><a href="{% url 'choosematch' %}">Create your team</a> for upcoming matches!</h4>
</div>

{% endblock %}