{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<form action="{% url 'user_team' %}" method="POST">
    <div style="text-align:center">  
        {% csrf_token %}
            {% if error %}
                {% for i in error_msg %}
                    <h3 style="color:red"> {{i}}</h3>
                {% endfor  %}
            {% endif %}
    </div>
    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center; color: green; text-transform: uppercase; font-size:40px;">Batsmen
            </h1>
        </div>
    </div>
    <br>
    <div class="row">
    <div class="col-12">
        <ul style="column-count: 4; column-gap: 5rem; list-style: none;">
        {% for i in batsmen %}
        <li>
            <input type="checkbox" name="batsmen" id="{{i.pid}}" value="{{i.pid}}" >
            <label for="{{i.pid}}">
                {{i.name}} 
                {{i.points}}
            </label>
        </li>
        {% endfor %}
        </ul>
    </div>
    </div>
<br>

    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center; color: green; text-transform: uppercase; font-size:40px;">Wicket-Keepers
            </h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <ul style="column-count: 3; column-gap: 10rem; list-style: none;">
            {% for i in wicket_keeper %}
            <li>
                <input type="checkbox" name="wicket_keeper" id="{{i.pid}}" value="{{i.pid}}" >
                <label for="{{i.pid}}">
                    {{i.name}} 
                    {{i.points}}
                </label>
            </li>
            {% endfor %}
            </ul>
        </div>
        </div>
        <br>

    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center; color: green; text-transform: uppercase; font-size:40px;">All-Rounders
            </h1>
        </div>
    </div>
    <br>    <div class="row">
        <div class="col-12">
            <ul style="column-count: 4; column-gap: 10rem; list-style: none;">
            {% for i in all_rounder %}
            <li>
                <input type="checkbox" name="all_rounder" id="{{i.pid}}" value="{{i.pid}}" >
                <label for="{{i.pid}}">
                    {{i.name}} 
                    {{i.points}}
                </label>
            </li>
            {% endfor %}
            </ul>
        </div>
        </div>
        <br>
    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center; color: green; text-transform: uppercase; font-size:40px;">Bowlers
            </h1>
        </div>
    </div>
    <br>    
    <div class="row">
        <div class="col-12">
            <ul style="column-count: 4; column-gap: 10rem; list-style: none;">
            {% for i in bowler %}
            <li>
                <input type="checkbox" name="bowler" id="{{i.pid}}" value="{{i.pid}}" >
                <label for="{{i.pid}}">
                    {{i.name}} 
                    {{i.points}}
                </label>
            </li>
            {% endfor %}
            </ul>
        </div>
        </div>
    <br>
    <div style="text-align:center">  
        <input type="submit" value="submit" text-align="center">
    </div>  
</form>


{% endblock %}