{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
    <div class="container">
      <div class="section-title text-center">
          <h2>Choose your players now!</h2>
          <h3  style="color:blue">Remaining Points: 100<div id="remaining_points" style="display:inline;"></div></h3>
          {% csrf_token %}
          {% if error %}
      {% for i in error_msg %}
        <h3 style="color:red"> {{i}}</h3>
      {% endfor  %}
      {% endif %}
      </div>
    </div>  
      <div class="container">
    <form action="{% url 'userteam' %}" method="POST">
      {% csrf_token %}
    <div class = "c">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center; color: green; text-transform: uppercase; font-size:30px;">Batsmen
        </h1>
    
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <ul style="column-count: 3; column-gap: 10rem; list-style: none;">
       <li>
        {% for i in batsmen %}
        
        <label class="c">{{i.player_name}} -
          {{i.points}}
            <input type="checkbox"  name="batsmen" id="{{i.player_id}}" 
            value="{{i.player_id}}" onclick="'load_points({{i.player_id}})'">
            <span class="checkmark"></span>
          </label>
      {% endfor %}
    </li>
       </ul>
    </div>
  </div>
</div>
<br>
<br>
<br>
 <div class = "c">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center; color: green; text-transform: uppercase; font-size:30px;">Bowlers</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <ul style="column-count: 3; column-gap: 10rem; list-style: none;">
        
       
       <li>
         {% for i in bowler %}
         <label class="c">{{i.player_name}} -
          {{i.points}}
            <input type="checkbox"  name="bowler" id="{{i.player_id}}" 
            value="{{i.player_id}}" onclick="'load_points({{i.player_id}})'">
            <span class="checkmark"></span>
          </label>
      {% endfor %}
       </li>
        
       
       </ul>
    </div>
  </div>
</div>
<br>
<br>

<br>
 <div class = "c">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center; color: green; text-transform: uppercase; font-size:30px;">All Rounders</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <ul style="column-count: 4; column-gap: 4rem; list-style: none;">
        
      
       <li>
         {% for i in all_rounder %}
         <label class="c">{{i.player_name}} -
          {{i.points}}
            <input type="checkbox"  name="all_rounder" id="{{i.player_id}}" 
            value="{{i.player_id}}" onclick="'load_points({{ i.player_id }});'">
            <span class="checkmark"></span>
          </label>
      {% endfor %}
       </li>
        
       
       </ul>
    </div>
  </div>
</div>

<br>
<br>
<br>
 <div class = "c">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center; color: green; text-transform: uppercase; font-size:30px;">Wicket-Keepers</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <ul style="column-count: 3; column-gap: 10rem; list-style: none;">
        
       
        <li>
          {% for i in wicket_keeper %}
         <label class="c">{{i.player_name}} -
          {{i.points}}
            <input type="checkbox"  name="wicket_keeper" id="{{i.player_id}}" 
            value="{{i.player_id}}" onclick="'load_points({{i.player_id}})'">
            <span class="checkmark"></span>
          </label>
      {% endfor %}
        </li>
       
       </ul>
    </div>
  </div>
</div>

 <br>
 <div class="container h-100">
        <div class="d-flex h-100"> 
         <div class="align-self-center mx-auto"> 
                
                <input type="submit" name="submit" class="btn btn-success">
            </div> 
          </div>
        </div>
    

  </div>
  </form>
<br>
<br>
<br>

{% endblock %}